#video-grid{
    display: flex;
    justify-content: center;
}
.secondPart{
    height: 96vh;
    width: 100%;
    display:flex;
}
.main__left{
    background-color: transparent;
    flex:0.8;
    display: flex;
    flex-direction: column;
}
#muteIconLocal{
    color: pink;
    position: absolute;
    left: 20%;
    font-size: 45px;
    top: 63%;
}
#muteIconRemote{
    color: pink;
    position: absolute;
    left: 44.5%;
    font-size: 45px;
    top: 63%;
}
#videoDownCoverLocal{
    position: absolute;
    color: white;
    top: 26%;
    left: 12%;
    width: 530px;
    height: 400px;
    font-size: 120px;
    background-color: transparent;
    FONT-WEIGHT: 200;
}
#videoDownCoverRemote{
    position: absolute;
    color: white;
    top: 27%;
    left: 42%;
    width: 515px;
    height: 400px;
    font-size: 120px;
    background-color: transparent;
    FONT-WEIGHT: 200;
    background-color: transparent;
}
.main__right{
    flex: 0.2;
}
.main__videos{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__controls{
    display: flex;
    background-color: #1C1E20;
    color: #D2D2D2;
    padding:  5px;
    justify-content: space-between;
}
.main__controls__block{
    text-align: center;
    display: flex;
}
.main__controls__button{
    cursor: pointer;
}
.main__controls__button span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
}
.main__controls__button i {
    font-size: 24px;
}
.main__controls__button:hover{
    background-color:#343434 ;
    border-radius:5px ;
}
#leave_meeting{
    color: #EB534B;
}
.main__right{
    display: flex;
    flex-direction: column;
    background-color: #242324;
    border-left: 1px solid #3D3D42;
}
.main__header{
    color: #F5F5F5;
    text-align: center;
}
.main__chat__window{
    flex-grow: 1;
    overflow-y:scroll ;
}
.main__message__container{
    padding: 22px 12px;
    display: flex;
}
.main__message__container input{
flex-grow: 1;
background-color: transparent;
border: none;
color: #F5F5F5;
}
.messages{
    color: white;
}